#map{
    width:100%;
    height:100%;
}

.ui-tabs-nav li {
    white-space:	nowrap;
}
.ui-tabs-nav li a {
    padding:		4px 1.5ex 3px !important;
}
.ui-tabs-panel {
    font-size:		1em !important;
}

.ui-layout-center {
    padding:	0;
}


.ui-layout-pane-center .ui-tabs-nav {
    /* don't need border or rounded corners - tabs 'fill' the pane */
    border-top:		0;
    border-left:	0;
    border-right:	0;
    padding-bottom:	0 !important;
    -moz-border-radius:		0;
    -webkit-border-radius:	0;
}

div.field{
    
}

input{
    font-size:1em;
    border: 1px solid #CCC; 
}

#categoryfield {
    margin:5px;
    border:1px solid #cccccc;
    overflow-y:scroll;
    overflow-x:hidden;
    height:80px;
}

#categoryfield input{
    float:left;
}

#categoryfield label{
    width:150px;
    font-size:x-small;
    display:block;
    float:left;
}

#categoryfield label:hover{
     background:#B4EDC5;
}

#search_button{
    width:100%;
}

#more_button{
    width:100%;
}

label {
    width:100px;
    display:block;
    float:left;
}

#debug{
    background:#000000;
    color:#ffffff;
}

div.incident{
    border-top:1px solid #cccccc;
    margin-top:0px;
    margin-bottom:3px;
}

div.incident:hover{
     background:#B4EDC5;
}

div.incident span.date{
    font-size:small;
    float:right;
    margin:2px;
    color:#000000;
    background:#eeeeee;
    margin-top:0px;
}

div.incident span.categories{
    float:right;
    margin:2px;
    margin-top:0px;
}

div.incident div.description{
    border:1px dashed #cccccc;
}

lon,lat{
    dislplay:none;
}

div.olControlAttribution{
    visibility:hidden;
    background:#000000;
}


